src/main/resources/payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
       targetNamespace="http://FakeBank/payment"
       xmlns="http://FakeBank/payment"
       elementFormDefault="qualified">

  <xs:element name="PaymentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="method" type="xs:string"/>
        <xs:element name="amount" type="xs:double"/>
        <xs:element name="status" type="xs:string"/>
        <xs:element name="paymentDate" type="xs:dateTime"/>
        <xs:element name="orderId" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="method" type="xs:string"/>
        <xs:element name="amount" type="xs:double"/>
        <xs:element name="status" type="xs:string"/>
        <xs:element name="paymentDate" type="xs:dateTime"/>
        <xs:element name="orderId" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>